<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- seo -%}

  <meta name="author" content="Mantė Žemaitytė">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta property="og:image" content="{{ '/images/pup.jpeg' | absolute_url }}">
  <meta name="google-site-verification" content="QWSRg8dxPRTK8Y-Y1weQdD64UIoNlVvXuORqCpVUll0" />

  {% if site.google_analytics %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}

  <link rel="icon" href="{{ '/images/favicon.ico' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  {%- feed_meta -%}
</head>
